:root {
    --main: #000000;
    --secondary: #ffffff;
    --background: #6E6E6E;
    --playerProgress: #CFCFCF;
}
body {
    width: 15rem;
    height: auto;
    background: var(--main);
    margin: 0;
}
p {
    color: var(--secondary);
    width: auto;
    margin-left: 2.5%;
}
.player-buttons {
    display: flex;
    width:95%;
    padding-top: .2rem;
    margin-left: auto;
    margin-right: auto;
}
.player-buttons i {
    color: var(--playerProgress);
}
.player-buttons i:nth-child(4) {
    margin-left: auto;
}
.progress-bar {
    background: var(--background) ;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.progress-bar > div {
    background: var(--playerProgress);
    width: 40%;
    height: .55rem;
    border-radius: 20px;
}
