:root {
    --main: rgb(24,24,24);
    --secondary: #ffffff;
    --background: #6E6E6E;
    --playerSecondary: #CFCFCF;
    --playerProgress: 0%;
}
body {
    width: 18rem;
    height: auto;
    margin: 0;
    background: var(--main);
    font-family: 'Quicksand', sans-serif;
}
span {
    color: var(--secondary);
    width: auto;
    margin-left: 2.5%;
}
/*.text-slide {
    animation: 20s slidein-left;
}*/

.player-buttons {
    display: flex;
    width:95%;
    padding-top: .2rem;
    margin-left: auto;
    margin-right: auto;
}
.player-buttons button {
    width: auto;
    height: auto;
    border: none;
    padding: 0;
    background: none;
    color: var(--playerSecondary);
}
.player-buttons button:nth-child(4) {
    margin-left: auto;
}
.progress-bar {
    background: var(--background) ;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.progress-bar > div {
    background: var(--playerSecondary);
    width: var(--playerProgress);
    height: .55rem;
    border-radius: 20px;
}
